uglify--customize-name_cache.json

# Generic front-end related folders
node_modules
bower_components
.sass-cache
.tmp

# OS and other
.DS_Store
/.project
*.scssc
.fuse_hidden*

# Logs and temporary files
logs
*.log
*.tmp

# GitEye
/.project

# Sublime
*.sublime-project
*.sublime-workspace
